---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout head={{}}>
  <ComponentLayout class="!py-22">
    <h1>
      <span class="text-primary">Zepto</span>
      <span class="text-secondary_2">Apps</span>
    </h1>
    <div class="flex flex-col items-start gap-8">
      <p>
        Zepto Apps is a software company based in Bangladesh that specializes in
        providing solutions for Shopify Apps, Custom E-commerce, and Web
        application Development. Over the last 7 years, we have successfully
        served 68k customers with our premium products and services. Our SaaS
        application, Zepto Product Personalizer, is empowering 16,000 E-commerce
        businesses across 142 countries.
      </p>
      <p>
        At Zepto Apps, we take pride in our operational efficiency, processing
        8.75 million requests per day. Our team consists of talented individuals
        from diverse backgrounds.
      </p>
      <p>
        We welcome all talented individuals who are passionate about technology
        to join us to become the leading software company in Bangladesh.
      </p>
      <p><strong>Zepto Apps:</strong> Passion, Innovation, Excellence.</p>
      <div>
        <p><strong>Why We Are the Leaders In Shopify Expertise</strong></p>
        <p>
          We provide the highest quality and have achieved an average rating of
          4.9.
        </p>
        <p>You get warranty protection of over two years with us.</p>
        <p>
          We pride ourselves on showcasing our customer happiness scale, which
          scores 99.99%.
        </p>
        <p>We provide 24x7 customer support.</p>
      </div>
    </div>
  </ComponentLayout>
</Layout>

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: #4a5568; /* Gray-700 */
  }
</style>
