---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import Layout from "../layouts/Layout.astro";
import callSvg from "../assets/call.svg";
import mailSvg from "../assets/mail.svg";
import locationSvg from "../assets/location.svg";
import { Image } from "astro:assets";
import SpingLoader from "../components/SpingLoader.astro";
---

<Layout
  head={{
    title: "Contact Us | Zepto Apps",
    jsCDNs: [
      "https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js",
    ],
  }}
>
  <ComponentLayout class="!py-22">
    <div class="text-center">
      <h1>Contact Us</h1>
      <h2 class="text-xl mb-1">Let's talk about growing your business.</h2>
      <p>
        Not only do we help you with apps that can help you sell more, but we
        also provide Ecommerce functionality-extending applications that can
        help you do more.
      </p>
    </div>
    <div class="grid md:grid-cols-2 gap-5 mt-10 min-h-[300px]">
      <div class="grid grid-rows-3 gap-5 max-h-full">
        <div
          class="flex flex-col justify-center items-center bg-white rounded-lg p-5 text-center hover:shadow-lg transition-shadow duration-400 ease-in-out"
        >
          <Image src={mailSvg} alt="Email Icon" class="w-12 h-12" />
          <span class="text-xl font-extrabold">Email</span>
          <address class="not-italic">
            <a href="mailto:contact@zeptoapps.com">contact@zeptoapps.com</a>
          </address>
        </div>
        <div
          class="flex flex-col justify-center items-center bg-white rounded-lg p-5 text-center hover:shadow-lg transition-shadow duration-400 ease-in-out"
        >
          <Image src={callSvg} alt="Email Icon" class="w-12 h-12" />
          <span class="text-xl font-extrabold">Phone</span>
          <address class="not-italic">
            <a href="tel:+8801708136034">+8801708136034</a>
          </address>
        </div>
        <div
          class="flex flex-col justify-center items-center bg-white rounded-lg p-5 text-center hover:shadow-lg transition-shadow duration-400 ease-in-out"
        >
          <Image src={locationSvg} alt="Email Icon" class="w-12 h-12" />
          <span class="text-xl font-extrabold">Address</span>
          <address class="not-italic">
            6th floor, Plot-36, 9th Avenue, Block - D, Sector 15, Uttara, Dhaka
            -1230, Bangladesh.
          </address>
        </div>
      </div>
      <form
        class="w-full max-h-full flex flex-col gap-5 bg-white p-8 rounded-lg"
      >
        <label for="from_name">
          Name
          <input
            name="from_name"
            placeholder="Name"
            type="text"
            class="w-full border outline-none mt-2 border-text_20 px-4 py-3 rounded-lg focus:border-primary transition-all duration-200"
          />
        </label>
        <label for="reply_to">
          Email *
          <input
            required
            name="reply_to"
            placeholder="Email"
            type="email"
            class="w-full border outline-none mt-2 border-text_20 px-4 py-3 rounded-lg focus:border-primary transition-all duration-200"
          />
        </label>
        <label for="message">
          Message *
          <textarea
            required
            name="message"
            placeholder="Message"
            rows={5}
            class="w-full border outline-none mt-2 border-text_20 px-4 py-3 rounded-lg focus:border-primary transition-all duration-200"
          ></textarea>
        </label>
        <button
          id="submitBtn"
          type="submit"
          class="flex-row bg-secondary_2/90 hover:ring-2 hover:bg-secondary_2 px-4 py-3 rounded-lg text-background font-semibold transition-all duration-200 flex items-center justify-center gap-2 cursor-pointer"
        >
          <span>Send</span>
          <span style="display: none;">
            <SpingLoader />
          </span>
        </button>
        <span
          id="successMessage"
          style="display: none;"
          class="text-sm text-center bg-secondary_2 py-0.5 rounded-full text-white w-1/2 mx-auto"
          >Message sent successfully!</span
        >
      </form>
    </div>
  </ComponentLayout>
</Layout>

<script>
  const handleSubmit = async (event) => {
    event.preventDefault();
    const form = event.target;
    const submitBtn = document.getElementById("submitBtn");
    const successMessage = document.getElementById("successMessage");

    const serviceID = "zepto_service_ugmln2a";
    const templateID = "zepto_template_ivzhjnf";
    const publicKey = "5Yat8qUG0lo9avjxi";

    try {
      submitBtn.querySelector("span:first-child").style.display = "none";
      submitBtn.querySelector("span:last-child").style.display = "inline";
      submitBtn.disabled = true;
      await emailjs.sendForm(serviceID, templateID, form, publicKey);
      form.reset();
      successMessage.style.display = "block";
      setTimeout(() => {
        successMessage.style.display = "none";
      }, 3000);
    } catch (error) {
      console.error("Failed to send message:", error);
      alert("Failed to send message. Please try again later.");
    } finally {
      submitBtn.querySelector("span:last-child").style.display = "none";
      submitBtn.querySelector("span:first-child").style.display = "inline";
      submitBtn.disabled = false;
    }
  };

  window.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    form.addEventListener("submit", handleSubmit);
  });
</script>

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #555;
  }
</style>
