---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <ComponentLayout>
    <h1>Contact</h1>
  </ComponentLayout>
</Layout>
