---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout head={{}}>
  <ComponentLayout class="!py-22">
    <h1 class="text-center mb-4 md:text-5xl sm:text-4xl text-3xl font-bold">
      Terms of Service
    </h1>
    <div class="flex flex-col items-start gap-8">
      <p>
        Zeptoapps.com is a Shopify-based service provider company. Please
        carefully read, review and be sure you understand our terms of use prior
        to using any of the services or products from zeptoapps.com. If you do
        not agree to these terms, then you should leave this website
        immediately, not use any of the materials or products available herein,
        and/or not subscribe to this service.
      </p>
      <div>
        <p><strong>1. Limitation of Liability</strong></p>
        <p>
          Under no circumstances shall ZeptoApps be liable for any direct,
          indirect, special, incidental, or consequential damages, including,
          but not limited to, loss of data or profit, arising out of use, or the
          inability to use, the materials on this site, even if ZeptoApps or an
          authorized representative has been advised of the possibility of such
          damages. If your use of materials from this site results in the need
          for servicing, repair, or correction of equipment or data, you assume
          any costs thereof.
        </p>
      </div>
      <div>
        <p><strong>2. Ownership and Liability</strong></p>
        <p>
          You may not claim intellectual or exclusive ownership to any of our
          products, modified or unmodified. All products are the property of
          ZeptoApps. Our products are provided “as is” without warranty of any
          kind, either expressed or implied. In no event shall our juridical
          person be liable for any damages including, but not limited to,
          direct, indirect, special, incidental, or consequential damages or
          other losses arising out of the use of or inability to use our
          products.
        </p>
        <p>User Accounts and Product Licenses are not transferrable.</p>
        <p>
          If you are a contractual developer or a representative of a person,
          please ask them to purchase the product from us directly. It saves
          time on both sides when we follow up on support tickets.
        </p>
      </div>
      <div>
        <p><strong>3. Refund Policy</strong></p>
        <p>
          We are so confident that you will definitely LOVE and BENEFIT from our
          products; we offer a 15-day no-questions-asked refund policy.
        </p>
        <p>
          If you don't like our product or it causes you trouble, we will be
          happy to offer you a full 100% refund within 15 days of your original
          purchase, and no questions will be asked.
        </p>
        <p>
          However, we might invite you to suggest to us how to improve ourselves
          while refunding. Also, we would really appreciate it if you give
          insights into what made you ask for a refund.
        </p>
      </div>
      <div>
        <p><strong>4. Product Updates</strong></p>
        <p>
          Each individual product purchased from ZeptoApps includes free updates
          to customers for one year from the date of purchase. We do not
          guarantee that product updates will always be made and forever, but
          ZeptoApps does its best to improve each product over time.
        </p>
      </div>
      <div>
        <p><strong>5. Support Termination and Suspension</strong></p>
        <p>
          ZeptoApps reserves the right to terminate any user's support without
          any notice. This may be due to one or several of the following
          reasons. Abusive behavior and/or excessive negativity towards the
          ZeptoApps staff. Repeated defamatory, malicious, and/or false
          statements, including slander against ZeptoApps. Promoting competitor
          products, contributing to software piracy, hacking, spamming, or other
          illegal acts. We reasonably believe that our client has been
          compromised, shared with others, or for other security reasons. All
          decisions are final, and terminated support will not be reversed.
        </p>
      </div>
      <div>
        <p><strong>6. Privacy Policy</strong></p>
        <p>
          Client data and certain other information about you will never be sold
          or rented to any third party. You understand that through your use of
          our services, you consent to the collection and use of this
          information which includes the transfer of this information to the
          United States of America Government and/or other countries for
          storage, processing, and use by ZeptoApps. We generally use your
          personal information and account data for order processing, preventing
          fraudulent activities, invoicing, and contacting you via email.
        </p>
      </div>
    </div>
  </ComponentLayout>
</Layout>

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: #4a5568; /* Gray-700 */
  }
</style>
