<button class="button">
  <span class="text !text-sm">Explore Apps</span>
  <span class="svg">
    <!-- â† -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      ><path
        d="m18.707 12.707-3 3a1 1 0 0 1-1.414-1.414L15.586 13H6a1 1 0 0 1 0-2h9.586l-1.293-1.293a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414z"
        fill="currentColor"
        data-name="Right"></path></svg
    >
  </span>
</button>

<style>
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 18px;
    background-color: --alpha(var(--color-secondary_2) / 90%);
    border: 2px solid var(--color-secondary_2);
    color: white;
    gap: 5px;
    min-width: 180px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .text {
    font-weight: 700;
    letter-spacing: 1px;
  }
  .svg {
    font-size: x-large;
    height: 100%;
    width: fit-content;
  }
  .svg svg {
    width: 30px;
    height: 30px;
  }
  .button:hover {
    /* border: 2px solid #b1d8ff; */
    background-color: var(--color-secondary_2);
    /* gap: 10px; */
  }
  /* .button:active {
    border: 5px solid #c0dfff;
  } */
  .button:hover .svg svg {
    animation: jello-vertical 0.9s both;
    transform-origin: left;
  }

  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
</style>
