---
import ComponentLayout from "../layouts/ComponentLayout.astro";

const otherServices = [
  {
    title: "Custom Shopify App Development",
    // banner: appDevelopmentImg,
    banner: "/assets/services/custom_app_development.webp",
    description: "Tailored app development to meet your unique business needs.",
  },
  {
    title: "Professional Theme Set-up and Modification",
    // banner: themeSetupImg,
    banner: "/assets/services/theme_setup.webp",
    description:
      "Custom theme setup and modifications for a unique store design.",
  },
  {
    title: "Store Migration",
    // banner: storeMigrationImg,
    banner: "/assets/services/store_migration.webp",
    description: "Seamless migration of your existing store to Shopify.",
  },
  {
    title: "Custom Ecommerce Solutions",
    // banner: customEcommerceImg,
    banner: "/assets/services/custom_ecommerce.webp",
    description:
      "End-to-end ecommerce solutions including design, development, and support.",
  },
];
---

<ComponentLayout class="!pt-22">
  <h1 class="text-center">Additional Shopify Services</h1>
  <p class="text-center max-w-2xl mx-auto">
    We also provide Shopify store setup, theme customization, integrations, and
    ongoing support.
  </p>

  <div class="flex flex-wrap justify-center gap-8 mt-12">
    {
      otherServices?.map((service) => (
        <a href="/" target="_blank" class="card">
          <div
            class="w-full min-h-[260px] overflow-hidden"
            style={`background-image: url('${service?.banner}'); background-size: cover; background-position: center; background-repeat: no-repeat;`}
          >
            {/* <img src={service?.banner} alt={service?.title} /> */}
          </div>
          <div class="py-5 px-4">
            <h2 class="product_name text-center text-xl transition-all duration-300 ease-in-out">
              {service?.title}
            </h2>
            <span class="pt-1 line-clamp-3 text-center text-text_70">
              {service?.description || "No description available."}
            </span>
          </div>
        </a>
      ))
    }
  </div>
</ComponentLayout>

<style>
  :root {
    --sizeWidth: 350px;
    --sizeHeight: 365px;
    --gridGap: 24px;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #555;
  }
  .card {
    max-width: var(--sizeWidth);
    min-height: var(--sizeHeight);
    overflow: hidden;
    border-radius: 8px;
    background: white;
    border-radius: 1rem;
    display: inline-block;
    /* border: 1.5px solid white; */
    transition: all 0.3s ease;
  }
  .card:hover {
    /* border: 1px solid var(--color-primary); */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    .product_name {
      color: var(--color-primary);
    }
  }
</style>
