---
const { class: className, id } = Astro.props;
---

<div class={className} id={id}>
  <slot />
</div>

<style>
  div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  @media screen and (max-width: 1440px) and (min-width: 1024px) {
    div {
      padding: 0 3rem;
    }
  }
</style>
