---
import Navbar from "../components/Navbar.astro";
import { Font } from "astro:assets";
import "../styles/global.css";
import ComponentLayout from "./ComponentLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Zepto Apps</title>
  </head>
  <body>
    <ComponentLayout class="sticky top-4 z-50">
      <Navbar />
    </ComponentLayout>
    <main>
      <slot />
    </main>
  </body>
</html>

<Font cssVariable="--font-roboto" preload />
<style>
  body {
    font-family: var(--font-roboto);
  }
  main {
    padding-top: calc(58px + 1rem);
  }
</style>
