---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Font } from "astro:assets";
import "../styles/global.css";
import ComponentLayout from "./ComponentLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Zepto Apps</title>
  </head>
  <body>
    <div id="navbar-container" class="navbar-transition">
      <ComponentLayout>
        <Navbar />
      </ComponentLayout>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script src="../script/nav.js"></script>

<Font cssVariable="--font-roboto" preload />
<style>
  body {
    font-family: var(--font-roboto);
  }
  main {
    padding-top: calc(58px);
  }
  .navbar-transition {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 1rem;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }
  .navbar-hidden {
    transform: translateY(-110%) !important;
  }
  .navbar-visible {
    transform: translateY(0%) !important;
  }
</style>
