---
import Navbar from "../components/Navbar.astro";
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Zepto Apps</title>
  </head>
  <body>
    <main>
      <Navbar />
      <section>
        <slot />
      </section>
    </main>
  </body>
</html>

<Font cssVariable="--font-roboto" preload />
<style>
  main {
    font-family: var(--font-roboto);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  section {
    padding-top: calc(58px + 1rem);
  }
</style>
