---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ComponentLayout from "./ComponentLayout.astro";
import "../styles/global.css";
import SEOHead from "../components/SEOHead.astro";

const { head } = Astro.props;
---

<!doctype html>
<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Zepto Apps | Shopify Apps | Themes | Custom Ecommerce</title>
  </head> -->
  {head && <SEOHead {...head} />}
  <body>
    <div id="navbar-container" class="navbar-transition">
      <ComponentLayout>
        <Navbar />
      </ComponentLayout>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script src="../script/nav.js"></script>
<script>
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "4b926d79-283b-4b27-af54-5060576309f1";
  (function () {
    const d = document;
    const s = d.createElement("script");
    s.src = "https://client.crisp.chat/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s);
  })();
</script>

<style>
  main {
    padding-top: calc(58px + 1rem);
  }
  .navbar-transition {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 1rem;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }
  .navbar-hidden {
    transform: translateY(-110%) !important;
  }
  .navbar-visible {
    transform: translateY(0%) !important;
  }
</style>
